<h2> Red </h2>

<ul>
  <% colors.forEach((oneColor) => {
    if (oneColor.category === "red") {%>
    <li class="col-md-3">
      <div class="color" style="background-color: <%= oneColor.hex%>"></div>
      <p class="name"><%=oneColor.keyword%></p>
      <p><%=oneColor.hex%></p>
    </li>
  <%}});%>
</ul>
